* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #F2F4F7;
}
@media screen and (min-width:990px) {
	.inbox-particulars {
		min-height: 600px;
		width: 50%;
		height: 200px;
		margin-left: 25%;
		padding-top: 2rem;
		border-radius: 2rem;
		background-color: #FFFFFF;
		box-shadow: 0 0 30px #CCCCCC;
	}
	
	.inbox-particulars > h2 {
		margin-left: 4rem;
	}
	
	.inbox-content {
		margin-top: 2rem;
		border-top: 1px solid #CCCCCC;
		padding: 1rem 2rem;
	}
	
	.inbox-content span {
		margin: 0 2rem;
		color: #646873;
	}
	
	.inbox-content p {
		margin-top: 2rem;
		margin-left: 2rem;
	}
	
	.data-size {
		font-size: 12px;
	}

}

.navbar {
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3A4357;
	margin-bottom: 3rem;
}

