* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body {
	background-color: #eef0f5;
}

#navbar {
	height: 80px;
	width: 100%;
}

.select-change {
	font-size: 13px;
}

#navbar span {
	font: 30px/25px 'Glegoo', serif;
	color: #BA55D3;
	cursor: pointer;
}

.container h2 {
	margin: 2rem 0;
	font-size: 22px;
}

@media screen and (max-width: 800px) {
	.information {
		width: 100%;
		height: 550px;
		background: #FFFFFF;
	}
	
	.left-information {
		width: 15%;
		margin-left: 42.5%;
	}
	
	.left-information img {
		width: 80%;
		margin-top: 10%;
		border-radius: 50%;
	}
	
	.left-information h6 {
		margin-top: 20%;
		margin-left: 20%;
	}
	
	.left-information h6 a {
		color: #007bff;
		cursor: pointer;
	}
	
	.right-information {
		width: 100%;
	}
	
	.right-information h6 {
		margin: 1rem;
		text-align: center;
	}
	
	.row-messager {
		width: 95%;
		height: 40px;
		text-align: center;
		margin-left: 5%;
		line-height: 25px;
	}
	
	.row-messager label {
		width: 10rem;
		font-size: 13px;
	}
	
	.row-messager input {
		outline: none;
		font-size: 13px;
	}
	
	.input-border {
		border: none;
	}
	
	#sub,#sub-no {
		margin: 0 1rem;
		display: none;
	}
	
	.btn-in {
		float: right;
	}
	
	
}

@media screen and (min-width: 800px) {
	.information {
		width: 100%;
		height: 500px;
		background: #FFFFFF;
	}
	
	.left-information {
		float: left;
		width: 15%;
	}
	
	.left-information img {
		width: 80%;
		margin-top: 10%;
		border-radius: 50%;
	}
	
	.left-information h6 {
		margin-top: 20%;
		margin-left: 32%;
	}
	
	.left-information h6 a {
		color: #007bff;
		cursor: pointer;
	}
	
	.right-information {
		float: right;
		width: 80%;
	}
	
	.right-information h6 {
		margin: 1rem;
	}
	
	.row-messager {
		width: 95%;
		height: 40px;
		margin-left: 5%;
		line-height: 25px;
	}
	
	.row-messager label {
		width: 10rem;
		font-size: 13px;
	}
	
	.row-messager input {
		outline: none;
		font-size: 13px;
	}
	
	.input-border {
		border: none;
	}
	
	#sub,#sub-no {
		margin: 0 1rem;
		display: none;
	}
	
	.btn-in {
		float: right;
	}
}