<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.dao.InboxDao">
    <resultMap id="studentinbox" type="edu.sdp.vo.StudentInbox">
        <result column="uname" property="inboxName"/>
        <result column="idate" property="timesTamp"/>
        <result column="icontent" property="content"/>
        <result column="iid" property="id"/>
        <result column="istate" property="state"/>
        <result column="itype" property="type"/>
    </resultMap>
    <select id="studentReceiveMapper"  resultMap="studentinbox">
        select u.user_name uname,i.inbox_date idate,i.inbox_content icontent,i.inbox_id iid,i.inbox_state istate,i.inbox_type itype
        from user u,inbox i
        where i.inbox_addressee=#{id} and i.inbox_from=u.user_id
        ORDER BY FIELD(i.inbox_state,1,0) ASC
        LIMIT ${(num-1)*classNum},${classNum};
    </select>

    <update id="AccessChangeStatusMapper">
        update inbox set inbox_state=0 where inbox_id=#{id};
    </update>

    <select id="studentInboxNumMapper" resultType="java.lang.Integer">
        select COUNT(*) from inbox where inbox_addressee=#{id};
    </select>

    <select id="selectInboxContentMapper" resultType="edu.sdp.vo.InboxContent">
        select u.user_name userName,i.inbox_date inboxDate,i.inbox_type inboxType,i.inbox_content inboxContent
        from user u,inbox i
        where i.inbox_id=#{id} and i.inbox_from=u.user_id;
    </select>
</mapper>