<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="../css/reset/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/client/personal_information.css"/>
		<script src="../js/plug/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--
        	作者：ShineQianMo
        	时间：2020-06-04
        	描述：导航
        -->
		<nav id="navbar" class="navbar navbar-light bg-dark">
			<img class="navbar-image" src="../images/icon.png"/>
			<span class="navbar-brand mb-0 h1">Attendance</span>
		</nav>
		
		<div class="container">
			<h2><b>基本信息</b></h2>
			<div class="information">
				<div class="left-information">
					<center><img src=""/></center>
					<h6><a>修改资料</a></h6>
					<h6><a>修改头像</a></h6>
					<input type="file" name="updateimg" id="updateimg" hidden="true"/>
				</div>
				<div class="right-information">
					<h6><b>基本信息</b></h6>
					<div class="row-messager">
						<label>账号</label><input type="text" id="number" value="123456" class="input-border" readonly />
					</div>
					<div class="row-messager">
						<label>昵称</label><input type="text" id="iName" value="无敌" class="change-message input-border" readonly/>
					</div>
					<div class="row-messager">
						<label>姓名</label><input type="text" id="name" value="sadas" class="input-border" readonly/>
					</div>
					<div class="row-messager">
						<label>身份证号</label><input type="text" id="identity" value="sadas" class="input-border" readonly/>
					</div>
					<div class="row-messager">
						<label>密码</label><input type="text" id="password" value="sadas" class="input-border" readonly/>
					</div>
					<div class="row-messager">
						<label>学号</label><input type="text" id="stunumber" value="sadas" class="change-message input-border" readonly/>
					</div>
					<div class="row-messager">
						<label>系别</label><input type="text" id="stusystem" value="sadas" class="change-message input-border" readonly/>
					</div>
					<div class="row-messager">
						<label>班级</label><input type="text" id="stuclass" value="sadas" class="change-message input-border" readonly/>
					</div>
					<div>
						<button id="sub" type="button" class="btn btn-outline-primary btn-in">提 交</button>
						<button id="sub-no" type="button" class="btn btn-outline-secondary btn-in">取 消</button>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<script src="../js/plug/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/work/client/personal_information.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
