<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>信息</title>
		<link rel="stylesheet" type="text/css" href="../css/client/inbox_particulars.css"/>
	</head>
	<body>
		<!--
			作者：ShineQianMo
			时间：2020-05-29
			描述：收件箱详细信息
		-->
		<div class="navbar">信息</div>
		<div id="inbox-particulars" class="inbox-particulars">
			<h2></h2>
			<div class="inbox-content">
				<span></span>
				<span class="data-size"></span>
				<p></p>
			</div>
		</div>
		<script type="text/javascript" src="../js/plug/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../js/work/client/inbox_particulars.js"></script>
	</body>
</html>
