.card-text {
	height: 5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card img {
	cursor: pointer;
	height: 13rem;
}

.addClass-div .addClass-div-height {
	width: 100%;
	height: 5rem;
}

.addClass-div-height {
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addClass-div-height input {
	display: none;
}

.addClass-div label {
	font-size: 16px;
	color: #BA55D3;
	float: left;
	margin-bottom: 15px;
	text-transform: capitalize;
	letter-spacing: 2px;
}

.addClass-div label i {
	font-size: 1.1em;
	margin-right: 3px;
	color: #BA55D3;
}

.addClass-div input {
	width: 100%;
	color: #000;
	outline: none;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 3px 20px;
	box-sizing: border-box;
	border: none;
	border: 1px solid #BA55D3;
	border-radius: 30px;
	-webkit-appearance: none;
	font-family: 'Source Sans Pro', sans-serif;
	background: #e8f0fe;
}

.btn-