<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta name="description" content="">
    	<meta name="author" content="Dashboard">
    	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
		<title>签到成功</title>
		<link href="../modules/fontawesome/web-fonts-with-csss/fontawesome-all.css" rel="stylesheet">
	</head>
	<style>
		body{
			text-align: center;
		}
		.sign{
			width: 50%;
			height: 100px;
			color: #ba55d3;
			font-size: 24px;
		    margin-left: 25%;
		    margin-top: 15%;
		}
		.sign>img{
			width: 200px;
		}
	</style>
	<body>
		<div class="sign">
			<img src="../images/timg.png"/><br />
			<span th:text="${session.userinf}"></span>
		</div>
	</body>
</html>
