<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.dao.RegisterDao">
    <select id="registerNumber" parameterType="String" resultType="Integer">
        select count(*) from user where user_number = #{number};
    </select>

    <insert id="registerPass" parameterType="String">
        insert into user (user_number,user_pass,user_ques,user_answer,user_iname,user_portrait,user_id,user_jion) value (#{number },#{password },#{question },#{answer },#{iName },#{portrait },#{id },0)
    </insert>

    <select id="repetitionUuid" parameterType="String" resultType="Integer">
        select count(*) from user where user_number = #{id};
    </select>

    <update id="realNameMapper" parameterType="String">
        update user set user_name=#{name},user_identity=#{identity} where user_id=#{id};
    </update>

    <update id="modifyInformationMapper" parameterType="String">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test="user_iname!=null">user_iname=#{user_iname},</if>
            <if test="user_stunum!=null">user_stunum=#{user_stunum},</if>
            <if test="user_system!=null">user_system=#{user_system},</if>
            <if test="user_class!=null">user_class=#{user_class},</if>
        </trim>
        where user_id=#{id};
    </update>

    <select id="selectInformationMapper" parameterType="String" resultType="edu.sdp.vo.Information">
        select u.user_number,u.user_iname,u.user_name,u.user_identity,u.user_stunum,d.user_system,c.user_class,user_portrait
        from user u,department d,class c
        where user_id=#{id} and d.user_uid=u.user_system and c.class_id=u.user_class;
    </select>

    <select id="teacherInformationHeadMapper" resultType="edu.sdp.vo.teacherHead">
        select user_name,user_portrait from user where user_id=#{id}
    </select>
    <select id="studentNum" resultType="java.lang.Integer">
        select count(*) from signtask s,curriculum c where s.tsign_class_id=c.cls_id and c.cls_ascription=#{id};
    </select>
    <select id="inboxNum" resultType="java.lang.Integer">
        select count(*) from inbox where inbox_addressee=#{id} and inbox_state=1;
    </select>

    <select id="leaveNum" resultType="java.lang.Integer">
        select count(*) from leaves where leave_teacher=#{id} and leave_state=0;
    </select>

    <select id="classNum" resultType="java.lang.Integer">
        select count(*) from curriculum where cls_ascription=#{id};
    </select>

    <update id="ModifyTheAvatarMapper">
        update user set user_portrait=#{uploadFileUrl} where user_id=#{id};
    </update>

    <select id="findImageUrl" resultType="java.lang.String">
        select user_portrait from user where user_id=#{id};
    </select>

    <select id="RealNameAuthenticationSuccessfulMapper" resultType="java.lang.String">
        select user_name from user where user_id=#{id};
    </select>
</mapper>