<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>日历</title>
		<link rel="stylesheet" type="text/css" href="../css/client/teacher/calendar.css"/>
  		<link rel="stylesheet" type="text/css" href="../css/reset/calendar_re.css"/>
		<script src="../js/plug/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/plug/prefixfree.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/plug/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/work/client/teacher/calendar.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="datepicker" class="calendar"></div>
	</body>
</html>
